[submodule "bundle/matchit"]
	path = bundle/matchit
	url = git://github.com/edsono/vim-matchit.git
[submodule "bundle/ack"]
	path = bundle/ack
	url = git://github.com/mileszs/ack.vim.git
[submodule "bundle/vim-git"]
	path = bundle/vim-git
	url = git://github.com/tpope/vim-git.git
